/*
*= require_self
*= require main
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 55px;
  padding-bottom: 50px;
  height: 100%;
  margin: 0 0 50px;
}

.row {
  height: 40px;
}
