.table-header {
  border-bottom: 2px solid $darkestblue;
  span {
    padding-top: 10px;
    font-weight: bold;
  }
}

.table-row {
  border-bottom: 1px solid gray;
  div {
    padding-top: 10px;
  }
}

.member-belt {
  margin-top: -5px;
}

div[class*="belt-"] {
  position: relative;
  height: 30px;
  border-radius: 5px 0px 0px 5px ;
}

.belt-white {
  background-color: white;
  border: 1px solid black;
}

.belt-blue {
  background-color: #363FFB;
}

.belt-purple {
  background-color: #9840FB;
}

.belt-brown {
  background-color: #763E1D;
}

.belt-black {
  background-color: black;
  .patch
  {
    background-color: #BE0712;
  }
}

.patch {
  background-color: black;
  width: 65px;
  height: 100%;
  margin-left: 21px;
  margin-top: -10px;
  position: absolute;
  padding-left: 7px;
}

.stripe {
  background-color: white;
  width: 7px;
  height: 100%;
  margin-left: 2px;
  /* position: absolute; */
  list-style-type: none;
  display: inline-block;
}
